* {
    color: #B0B000;
    background-color: #444444;
}

#img-circle {
    border-radius: 50%;
}

table {
    width: 250px;
}

table, tr, td {
    border: 2px solid #000099;
    color: #77BB00;
}

#aside {
    width: 20%;
    color: #CCCCCC
}

.article {
    float: left;
    margin-right: 0px;
}

p {
    color: inherit;
}

a {
    color: #AAFF00;
    margin-right: 6px;
}

.btn {
    color: #AAFF00
}
